.css-1hb7zxy-IndicatorsContainer {
  display: none !important;
}
.css-13cymwt-control {
  min-height: 25px !important;
  margin: 0 !important;
  padding: 0 !important;
}
.css-1nmdiq5-menu {
  margin-top: 25px !important;
}
